pandas>=2.0.0
openpyxl>=3.1.0
asgiref==3.11.0
Django==6.0
django-taggit==6.1.0
et_xmlfile==2.0.0
mysql-connector-python==9.5.0
mysqlclient==2.2.7
openpyxl==3.1.5
pillow==12.0.0
sqlparse==0.5.4
pandas==2.2.3
openpyxl==3.1.5
tzdata==2025.2
WeasyPrint==59.0
