{% include "includes/header.html" %}
{% block content %}  

<!-- DITO KA MAS START MAGLAGAY NG LAMAN NG BODY -->

<div class="card-body p-0 d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center"> 
        <div class="error mx-auto" data-text="404">404</div> 
        <p class="lead text-gray-800 mb-5">Page Not Found</p> 
        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p> 
        <a href="{% url 'login' %}">&larr; Back to login</a> 
    </div>
</div>


<!-- DITO ANG END NG BODY. WAG KA LALAMPAS -->

{% endblock %}
