<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>TracKaPSITE | Login</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


</head>

<body class="bg-gradient-primary">

    <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">

        <!-- Outer Row -->
        <div class="row justify-content-center">
    
            <div class="col-xl-10 col-lg-12 col-md-9">
    
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 bg-login-image d-flex align-items-center justify-content-center">
                                <img src="{% static 'img/android-chrome-512x512.png' %}" class="img-fluid logo" alt="TracKaPSITE logo">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center mb-4">
                                        <h1 class="h4 text-gray-900">Welcome Back, KaPSITE-CL!</h1>
                                    </div>
    
                                    <!-- Debug message -->
                                    {% include "includes/messages.html" %}
                                    <form action="{% url 'doLogin' %}" method="POST">
                                        {% csrf_token %}
                                        
                                        <div class="form-group">
                                            <label for="email">Email or Username</label>
                                            <input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter Email or Username..." name="email" aria-describedby="emailHelp" required />
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="exampleInputPassword" placeholder="Enter Password..." name="password" required>
                                                <div class="input-group-append">
                                                    <span class="input-group-text toggle-password" onclick="togglePasswordVisibility()" data-toggle="tooltip" title="Show/Hide Password">
                                                        <i class="fas fa-eye" id="eye-icon"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
    
                                        <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                                        <a href="{% url 'homepage' %}" class="btn btn-secondary btn-user btn-block">Back to Homepage</a>
    
                                    </form>
    
                                    <hr>
                                    <div class="text-center">
                                        <a href="" hidden>Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        Register as <a href="{% url 'registration_new' %}">New Member</a>
                                         <br>or <a href="{% url 'registration_renew' %}">Renew Membership</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('exampleInputPassword');
            const eyeIcon = document.getElementById('eye-icon');
    
            // Toggle the type attribute
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('fa-eye'); // Corrected class name
                eyeIcon.classList.add('fa-eye-slash'); // Corrected class name
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('fa-eye-slash'); // Corrected class name
                eyeIcon.classList.add('fa-eye'); // Corrected class name
            }
        }
    </script>

</body>

</html>